$dark-blue: #3d405b;
$nice-yellow: #fca311;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vh;
  h3 {
    font-size: 1.4rem;
    transition: 0.3s all;
    color: white;
    margin: 0 10px;
    &:hover {
      color: $nice-yellow;
      cursor: pointer;
    }
  }
  .selected h3 {
    color: $nice-yellow;
  }
  .menu {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
    }
  }
  img {
    height: 100px;
  }
  .dropdown {
    text-align: center;
    position: relative;
    .hidden {
      position: absolute;
      width: 100%;
      h3 {
        margin: 0;
        text-align: center;
      }
    }
  }
  .breeds {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
