$dark-blue: #3d405b;
$nice-yellow: #fca311;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vh;
  h3 {
    font-size: 1.4rem;
    transition: 0.3s all;
    color: white;
    &:hover {
      color: $nice-yellow;
      cursor: pointer;
    }
  }
  .selected {
    color: $nice-yellow;
  }
  .menu {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      margin: 0 10px;
    }
  }
  img {
    height: 100px;
  }
}
