$dark-blue: #3d405b;
$nice-yellow: #fca311;

.breeds-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  .breed {
    width: 45%;
  }
  .popup {
    position: absolute;
  }
}
.MuiPagination-ul button {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
