$dark-blue: #3d405b;
$nice-yellow: #fca311;

.breeds-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  .breed {
    width: 45%;
  }
  .popup {
    position: absolute;
  }
}
