$dark-blue: #3d405b;
$nice-yellow: #fca311;

.breeds-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  .breed {
    width: 45%;
  }
  .popup {
    position: absolute;
  }
}
.MuiPagination-ul button {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.pagination {
  margin: 0 auto;
}

@media (max-width: 800px) {
  .breed {
    width: 100% !important;
  }
}

@media (max-width: 400px) {
  .MuiPagination-ul button {
    font-size: 0.9rem !important;
    margin: 0px -1px;
    margin-bottom: 10px;
  }
}
